.feedbackContainer {
    display: flex;
    color: rgb(25, 25, 25);
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
}